body {
  color: var(--gray-900);

  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
  }

  h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
  }

  code {
    background: var(--gray-100);
    border: var(--gray-300) solid 1px;
    padding: 0.1rem 0.5rem;
    border-radius: 0.15rem;
  }
}
