@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri/Amiri-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri/Amiri-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri/Amiri-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri/Amiri-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
